
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}


body {
    background-color: #000;
    overflow-x: hidden !important; /*yatay scroolu kaldırmak için*/


}

/* --------------SAYFALAR----------------- */
.page1 {
    height: 100vh;
    width: 99vw;
}

img {
    height: 400px;
    margin: auto;
}

.page2 {
    height: 100vh;
    width: 99.5vw;
    background: #8000ff;
}

.nav {
    margin: auto;
}

/*-----------SCROLLBAR-----------------------*/
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:#00ffff;
}

/* -------------------HAMBURGER-MENU----------------------- */

.wrapper {
    position: fixed;
    top: 0;
    /*left: -100%;*/
    right: -100%;
    height: 100%;
    width: 100%;
    
    background: #000;
    /*açılır ekranın arka planı*/
    transition: all 0.6s ease-in-out;
    z-index: 2;
}

#active:checked~.wrapper {
    right: 0;
}

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #00ffff;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
    transform: translateY(-8px);
}

.menu-btn:after {
    transform: translateY(8px);
}


.close {
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
}

/* closing animation */
#active:checked+.menu-btn span {
    transform: scaleX(0);
}

#active:checked+.menu-btn:before {
    transform: rotate(45deg);
    border-color: #fff;
}

#active:checked+.menu-btn:after {
    transform: rotate(-45deg);
    border-color: #fff;
}

.wrapper ul {
    position: absolute;
    top: 60%;
    left: 55%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    /*butonlar*/
    height: 10%;
    margin: 15px 0;
}

.wrapper ul li a {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
}

.wrapper ul li a:hover,
.wrapper ul li a:focus{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
}

.wrapper ul li a span{
    position: absolute;
    display: block;
}  

.wrapper ul li a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.wrapper ul li a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.wrapper ul li a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

input[type="checkbox"] {
    display: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
    color: #89b829;
}

#active:checked~.wrapper ul li a {
    opacity: 1;
}

.wrapper ul li a {
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
}

#active:checked~.wrapper ul li a {
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1);
    transition-delay: .6s;
    transform: translateX(-100px);
}

/* ANASAYFA YAZİLAR*/

@font-face {
    font-family: 'Helvatica Neue Pro Outline';
    src: url(fonts/HelveticaNeueLTPro-BdOu.otf) format('opentype');
}
@font-face {
    font-family: 'Helvatica Bold';
    src: url(fonts/helvetica-bold.woff.ttf) format('truetype');
}
@font-face {
    font-family: 'Brown';
    src: url(fonts/Brown.ttf) format('truetype');
}

@font-face {
    font-family: 'Helvatica Bolder';
    src: url(fonts/Helvetica\ 93\ Black\ Extended.ttf) format('truetype');
}

.video-container {
    position: relative;
}

.video-container video {
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow efekti eklemek için */
    opacity: 0.4; /* Opacity değerini istediğiniz düzeye ayarlayın */
}

.video-container .overlay {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 20px;
    box-sizing: border-box;
}


.video-container .overlay .text {
    text-align: left;
}

#foryou{ 
    font-family: 'Helvatica Neue Pro Outline';
}

#beatmaker{
    font-family: 'Helvatica Bolder';
}

#melodybyte{
    font-family: 'Brown';
}

#dawcontent{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background: #8759D7;
    background: linear-gradient(to right, #8759D7 0%, #CFCFCF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
